<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
        <ion-card-header>
            <ion-title>Restablecer Contraseña</ion-title>
        </ion-card-header>
        <ion-card-content>
            <form [formGroup]="formularioRecuperar" (ngSubmit)="submit()">
                <ion-list>
                    <ion-item>
                        <ion-label position="floating">Ingresa tu correo</ion-label>
                        <ion-input formControlName="email" inputmode="email"></ion-input>
                    </ion-item>
                    <div *ngFor="let error of mensajeError.email">
                        <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
                            <small class="error-message">{{error.message}}</small>
                        </ng-container>
                    </div>
                    <div class="ion-margin-top">
                        <ion-button [disabled]="!formularioRecuperar.valid" type="submit" expand="block">enviar</ion-button>
                    </div>
                </ion-list>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>